<!DOCTYPE html>
<html lang="en">
<head>
<title>Travel around the world</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load",function(){ setTimeout(hideURLbar, 0);}, false);
function hideURLbar(){ window.scrollTo(0,1); } 
</script>
<!-- //Meta tag Keywords -->

<!-- css files -->
<link rel="stylesheet" href="/static/css/font_movie.css"> <
<link rel="stylesheet" href="/static/css/style_film.css" type="text/css" media="all" />
<!-- //css files -->
</head>

<body>
	<!--header-->
	<div class="header-w3l">
		<h1>Glass F4</h1>
	</div>
	<!--//header-->

	<!--main-->
	<div class="main-w3layouts-agileinfo">
		<!--form-stars-here-->
		<div class="wthree-form">
			<h2>电影推荐</h2>
			<form action="film" method="post">
				<div class="form-sub-w3">
					<input type="text" name="type" placeholder="Film type" required="" />
                <!--
				<div class="icon-w3">
					 <i class="fa fa-user" aria-hidden="true"></i>
				</div>
				-->
				</div>
				<div class="form-sub-w3">
					<input type="text" name="number" placeholder="Number of film" required="" />
                <!--
				<div class="icon-w3">
					 <i class="fa fa-unlock-alt" aria-hidden="true"></i>
				</div>
                -->
				</div>
				<label class="anim">
					<!--
					<input type="checkbox" class="checkbox">
					<span>Remember Me</span> 
					<a href="#">Forgot Password</a>
					-->
                    <p><span>{{ msg1 }}</span><p>
                    <span>{{ msg2 }}</span>
				</label>
				<div class="clear"></div>
				<div class="submit-agileits">
					<input type="submit" value="Get recommendations">
				</div>
			</form>
		</div>
		<!--//form-ends-here-->
	</div>
	<!--//main-->

	<!--footer-->
	<div class="footer">
		<p>&copy; 2018 Travel around the world | Design by Zack</p>
	</div>
	<!--//footer-->
</body>
</html>